TOKEN_KEY=''                //set values
BBB_URL=                    //set values
BBB_SECRET=                 //set values
HTTP_PORT=8000
DATABASE_FILENAME=          //set values
BBB_LOGOUT_URL=             //set values
GOOGLE_CLIENT_ID=             //set values
GOOGLE_CLIENT_SECRET=             //set values
GOOGLE_CLIENT_REDIRECT_URL=             //set values
GOOGLE_CLIENT_ALTERNATIVE_REDIRECT_URL=
CLIENT_URL=             //set values
AUTH0_AUDIENCE=
AUTH0_DOMAIN=
AUTH0_CLIENT_ID = 
DATABASE_FILENAME=
EMAIL_VERIFY_URL =
RAZORPAY_ID=
RAZORPAY_KEY=
STRIPE_SECRET_KEY=
POSTGRES_DB_NAME=
POSTGRES_DB_USERNAME=
POSTGRES_DB_PASSWORD=
POSTGRES_DB_HOST=
POSTGRES_DB_PORT=