.upload{
    border: 1px solid #0077c2;
    padding: 10px 20px;
    color: #ffff;
    background-color: #1A73E8;

}
.upload:hover{
    background-color: #0D5EBD;
}



.delete{
    border: 1px solid red;
    padding: 10px 20px;
    color: red;
    margin-right: 10px;
}
.delete:hover{
    background-color:#F5F7FB ;
}
