.regularButton{
    margin-right: 10px;
    padding: 10px 25px;
    color: #ffff;
    background-color: #467FCF;

}
.regularButton:hover{
    background-color: #0D5EBD;
}

.fileUpload{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 250px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
}

.removeBranding{
    border: 1px solid red;
    padding: 10px 20px;
    color: red;
    margin-top: 10px;
}
.removeBranding:hover{
    background-color:#F5F7FB ;
}
.imageStyle{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 480px) {
    .removeBox{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


